body{
    font-family: 'Public Sans', sans-serif;
    color: #000000;
}

.logo-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    padding: 2%;
}

.cabecalho-banco {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 20px;
    line-height: 18px;
}

.menu {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
}

.item-menu {
    color: #000000;
    padding: 15px;
}

.sobre {
    background-color: #5BC241;
}

.cadastrese {
    background-color: #5BC241;
    border-radius: 10px;
    font-weight: 300;
}